In [1]:
import pandas as pd

In [2]:
def compare_excel_files(file1, file2):
  df1 = pd.read_excel(file1)
  df2 = pd.read_excel(file2)
  # check if same columns
  if not df1.columns.tolist() == df2.columns.tolist():
    raise ValueError("Excel files have different columns")
  # mismatched rows
  mismatched_data = []
  for col in df1.columns:
    for idx in df1.index:
      if df1.loc[idx, col] != df2.loc[idx, col]:
        mismatched_data.append({
          'Row': idx + 1,
          'Column': col,
          'File 1 Value': df1.loc[idx, col],
          'File 2 Value': df2.loc[idx, col]
        })
  if mismatched_data:
    return pd.DataFrame(mismatched_data)
  else:
    print("No mismatched data found!")
    return None

In [3]:
file1 = "data1.xlsx"
file2 = "data2.xlsx"
mismatched_df = compare_excel_files(file1, file2)

if mismatched_df is not None:
  print("Mismatched data:")
  print(mismatched_df)

Mismatched data:
    Row      Column         File 1 Value         File 2 Value
0     7   OrderDate  2019-03-24 00:00:00  2018-04-18 00:00:00
1     8   OrderDate  2019-04-10 00:00:00  2018-05-05 00:00:00
2     9   OrderDate  2019-04-27 00:00:00  2018-05-22 00:00:00
3    10   OrderDate  2019-05-14 00:00:00  2018-06-08 00:00:00
4    11   OrderDate  2019-05-31 00:00:00  2018-06-25 00:00:00
5    12   OrderDate  2019-06-17 00:00:00  2018-07-12 00:00:00
6    13   OrderDate  2019-07-04 00:00:00  2018-07-29 00:00:00
7    14   OrderDate  2019-07-21 00:00:00  2018-08-15 00:00:00
8    14     Manager              Hermann               Martha
9    16    SalesMan                Diana            Alexander
10   22    SalesMan                Diana                Karen
11   33    SalesMan                Diana            Alexander
12    1        Item          Video Games           Television
13    4        Item                 Desk           Cell Phone
14    7        Item                 Desk           Television
15   12        Item          Video Games         Home Theater
16   17        Item           Television         Home Theater
17   20        Item           Television          Video Games
18   26        Item                 Desk         Home Theater
19   34        Item           Television          Video Games
20   41        Item          Video Games         Home Theater
21   42        Item           Television         Home Theater
22    2       Units                   87                 50.0
23   14       Units                   87                 35.0
24   21       Units                   87                 67.0
25   29       Units                   87                 96.0
26   30       Units                    7                 53.0
27   40       Units                    7                 14.0
28    2  Unit_price                 58.5                500.0
29    5  Unit_price                 58.5               1198.0
30   19  Unit_price                 58.5                225.0
31    2    Sale_amt               5089.5              25000.0
32    5    Sale_amt               3276.0              67088.0
33   14    Sale_amt             104226.0              41930.0
34   19    Sale_amt                877.5               3375.0
35   21    Sale_amt             104226.0              80266.0
36   29    Sale_amt              19575.0              21600.0
37   30    Sale_amt               8386.0              63494.0
38   40    Sale_amt               8386.0              16772.0